nav a {
    position: relative;
    padding-bottom: 4px;
}
nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #4f46e5;
    transition: width 0.3s ease-out;
}

nav a:hover::after {
    width: 100%;
}

footer a {
    transition: transform 0.3s;
}
footer a:hover {
    transform: scale(1.2);
}